@import "/style.css";

div.equipment_center {
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 70px; 
    min-height: calc(100vh - 70px);
}
ul.equipment_list {
    border: 2px solid;
    width: fit-content;
    margin: auto;
    width: 400px;
    text-align: justify;
}