:root {
    --nav_active_color: rgb(102, 116, 157);
    --nav_bar_desktop_width: 500px;
    --nav_font_color: aliceblue;
    --nav_background_color: royalblue;
}
ul.nav {
    -webkit-overflow-scrolling: touch; 
    align-items: center;
    background-color: var(--nav_background_color);
    border-radius: 30px; 
    border: 3px solid;
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    left: 0;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0; 
    margin-top: 5px; 
    margin: 0;
    overflow-x:auto;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 5px;
    width: 99%;
    z-index: 1000;
}
@media (min-width: 768px) { /*Nav Bar styling for desktop*/
    ul.nav {
        width: var(--nav_bar_desktop_width);
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px; 
        overflow-x: hidden;
        justify-content: center;
        top: 0;
    }
}
li.nav {
    float: left;
    flex-shrink: 0;
    /* background-color: var(--background_color); */
}
li.nav a {
    display: block;
    color: var(--nav_font_color);
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* li.nav a:hover {
    background-color: var(--nav_background_color);
    border-color: var(--nav_background_color);
} */
.nav_active {
    background-color: var(--nav_active_color);
    border: 2px solid;
    border-radius: 30px;
}